<div class="page-content page-full">

  {%- render 'breadcrumbs' -%}

  <div class="page-width">
    <header class="section-header">
      <h2 class="section-header__title">{{ page.title }}</h2>
    </header>
  </div>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>

</div>
